* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;    /* Centraliza verticalmente */
    background-color: #2e2e2ec4;
    padding:0;
    height: 100vh;          /* Define a altura total da viewport */
    margin: 20px;  
    font-family: verdana;  
}
 
body h1 {
    margin-bottom: 20px;
    color:white;
    text-shadow: #272727;
    text-align: center;
}

body p {
    text-align: center;
    color: antiquewhite;
}

.decoracao {
    color: #02c713;
    font-weight: 600;
}
#conteiner_main {

    display: flex;
    border-radius: 20px;
    box-shadow: 10, 40, #1b1b1b;
    background-color: #101010;
    margin-top: 50px; 
    padding: 20px;
    max-width: 400px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: verdana;
}

.calc {
    font-size: 16px;
    font-weight: 300;
    color: white;
}

#operacoes {
    text-align: right;
}

#resultado {
    
    color: white;
    padding: 0.2em;
    overflow-wrap: break-word ;
    min-height: 1.6em;
}
#calculo {
   
    color: white;
    font-size: 2em;
    font-weight: 700;
    padding: 0.2em;
    overflow-wrap: break-word ;
    min-height: 1.6em;
}

#botoes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;

}

#botoes .btn {
    border: 1px solid transparent;
    color: white;
    border-radius: 50px;
    height: 65px;
    width: 65px;
    font-size: 1.5em;
    background-color: #272727;
    cursor: pointer;
}

#botoes .btn:hover {
    border: 1px solid transparent;
    color: white;
    border-radius: 50px;
    height: 65px;
    width: 65px;
    font-size: 1.5em;
    background-color: #424242;
    cursor: pointer;
}

#botoes .operacao {
    border: 1px solid transparent;
    color: #00970d;
    border-radius: 50px;
    height: 65px;
    width: 65px;
    font-size: 1.5em;
    background-color: #1b1b1b;
    cursor: pointer;
}

#botoes .operacao:hover {
    border: 1px solid transparent;
    color: #00970d;
    border-radius: 50px;
    height: 65px;
    width: 65px;
    font-size: 1.5em;
    background-color: #303030;
    cursor: pointer;
}

#botoes .limparTudo {
    border: 1px solid transparent;
    color: #be3220;
    border-radius: 50px;
    height: 65px;
    width: 65px;
    font-size: 1.5em;
    background-color: #1b1b1b;
    cursor: pointer;
}

#botoes #igual {
    border: 1px solid transparent;
    color: white;
    border-radius: 20px;
    height: 65px;
    width: 130px;
    font-size: 1.8em;
    background-color: #00970d;
    cursor: pointer;
    grid-column: span 2;
}

#botoes #igual:hover {
    border: 1px solid transparent;
    color: white;
    border-radius: 20px;
    height: 65px;
    width: 130px;
    font-size: 1.8em;
    background-color: #02c713;
    cursor: pointer;
    grid-column: span 2;

}